extends layout

block content
  //h1= title
  //p Welcome to #{title}
  br
  .row
    .col-md-2
    .container
    .well.panel.panel-default
      div(ng-controller ='OperacionesController')
       
       h1.panel-heading  Calculadora
       .panel-body
       .well
           
            input.form-control(type='number',placeholder='Ingresar Primer Número',ng-model="numUno")
            br
           
            input.form-control(type='number',placeholder='Ingresar Segundo Número',ng-model="numDos")
            br
            .btn-group(role='group', aria-label='...')
              button.btn.btn-primary(ng-click="sumar()") +
              button.btn.btn-primary(ng-click="restar()") -
              button.btn.btn-primary(ng-click="multiplicar()") *
              button.btn.btn-primary(ng-click="dividir()") /
              button.btn.btn-primary(ng-click="clear()") C
            br
            br
          
            input.form-control(type='text',placeholder='Resultado...',ng-model="resultado",size='5') 
            br
  .container
    .well.panel.panel-default
   
        div(ng-controller="TiendaController")
           h4 Nombre: {{articulo.nombre }}
           h4 Precio: {{articulo.precio }}

  .container
   .row
    .col-md-12
      div
      
      // Nav tabs
      ul.nav.nav-tabs(role='tablist')
        li.active(role='presentation')
          a(href='#home', aria-controls='home', role='tab', data-toggle='tab') Articulos
        li(role='presentation')
          a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab') Detalles
        li(role='presentation')
          a(href='#messages', aria-controls='messages', role='tab', data-toggle='tab') Messages
       
      // Tab panes
      .tab-content
        #home.tab-pane.active(role='tabpanel')  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nemo eius minima ratione aliquam harum ad quo, consequuntur provident. Error vel minima quasi quo nam, quod quibusdam facere earum eveniet.
        #profile.tab-pane(role='tabpanel')  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nostrum quos a, magni error explicabo repudiandae in labore sunt commodi quo distinctio voluptatibus expedita. Ut ad autem blanditiis voluptate omnis!
        #messages.tab-pane(role='tabpanel')  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos temporibus magni dolor, necessitatibus eos adipisci ipsum! Adipisci facere explicabo quidem dicta qui, accusamus, temporibus corporis officia obcaecati itaque laboriosam dolorum?
      
     div.col-md-8(ng-controller = "TiendaController1", ng-cloak)
       input.form-control(type="text",ng-model="buscar",placeholder="Buscar...")
       
       div.well(ng-repeat="articulo in articulos | filter: buscar")
        
        h2 {{articulo.nombre }} 
        h3 Precio: {{articulo.precio  | currency:"€ " :2 }} 
      
        p  No. {{articulo.stock }}
        IMG.img-responsive.container(ng-src="{{articulo.imagen }}")
        button.btn.btn-primary(type="button",ng-if="articulo.stock>0") Comprar
        hr
   
    hr
    .col-md-2

  